<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://msabackendwebapp-b7b6bqfda6fbhafk.scm.australiasoutheast-01.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/e2f1e4a7-c6e0-4993-8314-c11b846d5857/resourceGroups/MSAProjectResourceGroup/providers/Microsoft.ContainerRegistry/registries/msabackendcontainer</ContainerResourceId>
    <ContainerResourceName>msabackendcontainer</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>msabackendcontainer.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/e2f1e4a7-c6e0-4993-8314-c11b846d5857/resourceGroups/MSAProjectResourceGroup/providers/Microsoft.Web/sites/msabackendwebapp</ResourceId>
    <ResourceGroup>MSAProjectResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://msabackendwebapp-b7b6bqfda6fbhafk.australiasoutheast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b9a00f5c-7223-463b-9579-f11960f51b34</ProjectGuid>
  </PropertyGroup>
</Project>